body{
    background-color: rgb(235, 228, 228);
    margin: 0px
}

*{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.products{
    position: relative;
    background-color: #D2D5DA;
    bottom:  300px;
    left: 50px;
    border-radius: 20px 0 0 20px;
    width: 700px;
    height: 800px;
}

.iphone,.watch,.iMac{
background-color: #FFFFFF;
border-radius: 10px;
padding: 30px;
display: flex;
position: relative;
left: 50px;
}

.iphone{
    position: relative;
    top: 10px;
   width: 50px;
   height: 80px;
}
.watch{
    position: relative;
    bottom: 100px;
    width: 50px;
    height: 75px;
}
.iMac{
    width: 50px;
    height: 55px;
    position: relative;
    bottom: 200px;
}

h3{
    position: relative;
    left: 200px;
    bottom: 150px;
}
.watch-heading{
    position: relative;
    left: 200px;
    bottom: 260px;
}
.iMac-heading{
    position: relative;
    left: 200px;
    bottom: 330px;
}

.coupon{
 border-radius: 5px;
    border: none;
    height: 40px;
    width: 400px;
    position: relative;
    bottom: 350px;
    left: 50px;
}
.apply{
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    position: relative;
    bottom: 345px;
    left: 50px
}
.phone-price{
    position: relative;
    left: 500px;
    bottom: 270px;
}
.watch-price{
    position: relative;
    bottom: 200px;
    left: 500px;
    bottom: 390px;

}

.imac-price{
    position: relative;
    left: 500px;
    bottom: 450px;
}

.subtotal{
    position: relative;
    left: 50px;
    bottom: 350px;
    font-size: 15px;
}

.numbers{
    position: relative;
    left: 500px;
    bottom: 450px;
    font-size: 15px;
}
.postal{
    width: 200px;
    border-radius: 20px;
    border: grey solid 1px;
    position: relative;
    right: 140px;
    height: 30px;
    left: 50px
}
.postal-text{
    position: relative;
    bottom: 70px;
    left: 230px;
}
.contact-information{
    position: relative;
    left: 750px;
    bottom: 1125px;
    background-color: #FFFFFF;
    border-radius: 0 20px 20px 0;
    height: 800px;
    width: 700px;
    }

h2{
    font-size: 30px;
    position: relative;
    top: 20px;
    left: 10px;
}
label{
    font-size: 30px;
    position: relative;
    left: 10px;
}
.name,.email{
    height: 50px;
    width: 600px;
    border-radius: 20px;
    border: solid grey 1px;
    position: relative;
    left: 10px;
}
select{
    width: 200px;
    border-radius: 20px;
    height: 30px;
    position: relative;
    left: 50px;
}
.country-text{
    position: relative;
    left: 90px;
}

.continue{
    position: relative;
    top: 100px;
    background-color: black;
    color: white;
    border: 10px;
    padding: 10px;
    left: 50px;
    width: 600px;
    height: 60px;
    border-radius: 20px;
}

@media screen and (min-width: 1280px) and (max-width:1500px){
    
}
